{% extends 'base.html' %} {% block head %}
<title>Read Radar</title>
{% endblock %} {% block body %}
<div class="download">
  <form
    action="/download"
    method="POST"
    enctype="multipart/form-data"
    class="download-form"
  >
    <div style="margin-bottom: 10px">
      <label for="filename">Filename:</label>
      <input type="text" name="filename" id="filename" required />
    </div>
    <button type="submit" class="btn">Export Books</button>
    <a href="/">Click here to redirect to homepage.</a>
  </form>
</div>

{% endblock %}
