{% extends 'base.html' %} {% block head %}
<title>Read Radar</title>
{% endblock %} {% block body %}
<div class="content records">
  <h1>Reading Records</h1>
  {% if books %}
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published Year</th>
        <th>Genres</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        <td>
          {% if book.genres %} {{ book.genres|map(attribute='genre')|join(", ")
          }} {% else %} - {% endif %}
        </td>
        <td>
          <a
            href="/delete/{{ book.id }}"
            style="color: red; text-decoration: none"
            >Delete</a
          >
          <a
            href="/update/{{ book.id }}"
            style="color: blue; text-decoration: none"
            >Edit</a
          ><br />
          <a
            href="/recommend/{{ book.id }}"
            style="color: green; text-decoration: none"
            >Find Similar Books</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No books added yet. Start adding some!</p>
  {% endif %}
</div>
<div class="foot">
  <form action="/" method="POST" class="add-form">
    <input type="text" name="title" id="title" placeholder="Title" required />
    <input
      type="text"
      name="author"
      id="author"
      placeholder="Author"
      required
    />
    <input
      type="number"
      name="year"
      id="year"
      placeholder="Published Year"
      required
    />
    <input
      type="text"
      name="genres"
      id="genres"
      placeholder="Genres (comma-seperated)"
      required
    />
    <button type="submit" class="btn add-btn">Add a New Record</button>
  </form>
  <!-- <div>{% include 'upload_form.html' %}</div> -->
  <div class="btns-container">
    <form
      action="/upload"
      method="POST"
      enctype="multipart/form-data"
      class="upload-form"
    >
      <input type="file" name="file" id="file" required />
      <button type="submit" class="btn import-btn">
        Import Records From File
      </button>
    </form>
    <a href="/download"
      ><button class="btn export-btn">Export All Records</button>
    </a>
    <a href="/preferences"
      ><button class="btn pre-btn">My Reading Preferences</button></a
    >
  </div>
</div>
{% endblock %}
